

  <div >
    <div class="left_col scroll-view">


      <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fa fa-spinner"></i> <span>Kansatsu</span></a>
      </div>


      <div class="clearfix"></div>

      <!-- /menu profile quick info -->

      <br />
      <% if current_user%>
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

          <div class="menu_section">
            <ul class="nav side-menu">
              <li><a href="/channels">Chaînes</a></li>
              <li><a href="/videos">Vidéos</a></li>
              <li><a href="/helms">Backend</a></li>
              <li><a href="/export">Exports</a></li>
            </ul>
          </div>
          <div class="menu_section">
              <ul class="nav side-menu">
                <li><%= link_to 'Collections', collections_path %>
                <ul class="nav child-menu">
                <% current_user.collections.each do |col| %>
                <li style = "color: #FFF">
                    <%= link_to "#{col.videos.count} #{col.title}" , col %>

                </li>
                <% end %>
                </ul>
            </li>
            <li>
            <%= link_to 'New Collection', new_collection_path %>
            </li>
            </ul>


        </div>

      </div>
      <% end %>
      <!-- /sidebar menu -->

    </div>
  </div>
