

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">


      <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fa fa-spinner"></i> <span>Kansatsu</span></a>
      </div>


      <div class="clearfix"></div>

      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

          <div class="menu_section">
            <ul class="nav side-menu">
              <li><a href="/channels">Chaînes</a></li>
              <li><a href="/videos">Vidéos</a></li>
              <li><a href="/helms">Backend</a></li>
              <li><a href="/export">Exports</a></li>
            </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

    </div>
  </div>
